body {
    background-image: url("https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #cccccc;
   }

h3 {
    color: white;
    background-color: teal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

h5 {
    margin: 0px auto;
    margin-top: 15px;
}

.container {
    position: absolute;
    left: 40px;
    top: 160px;
    padding: 50px;
    padding-top: 25px;
    margin-bottom: 150px;
    background-color: white;
    margin-right: 15px;
}

p {
    font-size: 20px;
}

h1 {
    color: teal;
}

.float-left{
    float: left;
}

#about-me-image {
    margin: 15px;
}

.foot-break{
    position: relative;
    bottom: 15px;
    height: 5px;
    background-color: red;
}

footer {
    padding: 15px 0px 5px 0px;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    color: darkgrey;
    background-color: grey;
    width: 100%;
}

@media screen and (max-width: 992px) {

    }

@media screen and (max-width: 768px) {

    }

@media screen and (max-width: 400px) {

    }